@page "/login"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@attribute [AllowAnonymous]

<div class="background">
    <div class="login-container">
        <img class="company-logo" src="images/arcurve_logo.png" alt="Arcurve logo" />
        <button class="login-btn" @onclick="PromptLogin">
            <img src="images/microsoft_logo.png" alt="Microsoft logo">
            Sign in with Microsoft
        </button>
        <div class="login-container-bottom">
            <a href="https://github.com/anilmawji/ITPortal">Support</a>
        </div>
    </div>
</div>

@code
{
    public async Task PromptLogin()
    {
        ExternalAuthStateProvider provider = (ExternalAuthStateProvider)AuthenticationStateProvider;

        await provider.LogInAsync();

        NavigationManager.NavigateTo("/");
    }
}