@attribute [Route(PageRoutes.Login)]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@attribute [AllowAnonymous]

<div class="background login-background">
    <LoginBox LogoPath="images/arcurve_logo.png">
        <button class="login-btn" @onclick="PromptLogin">
            <img src="images/microsoft_logo.png" alt="Microsoft logo">
            Sign in with Microsoft
        </button>
        <div class="login-container-bottom">
            <a href="https://github.com/anilmawji/ITPortal">Support</a>
        </div>
    </LoginBox>
</div>

@code
{
    public async Task PromptLogin()
    {
        ExternalAuthStateProvider provider = (ExternalAuthStateProvider)AuthenticationStateProvider;

        await provider.LogInAsync();

        NavigationManager.NavigateTo("/");
    }
}