@page "/new-job"

@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize]

<h1 class="page-title">PowerShell Jobs > New Job</h1>

<PageSection Title="Basics">

</PageSection>

<PageSection Title="Script">

</PageSection>

<PageSection Title="Parameters">

</PageSection>

<PageSection Title="Schedule">

</PageSection>

@code {

}
