@attribute [Route(PageRoute.ScriptJobResults)]
@* @attribute [Authorize] *@

@implements IDisposable

@inject IScriptJobService ScriptJobService
@inject NavigationManager NavigationManager

<style>
    /* adjust table border and hide overflowing content */
    .mud-table {
        border-radius: 8px;
        border: solid 1px #D2D2D2;
        overflow: hidden;
    }

    /* correct table height and color */
    .mud-table-toolbar {
        --mud-internal-toolbar-height: 48px !important;
    }
</style>

<PageContainer Title="PowerShell Job Results">
    <div class="table-container">
        <MudTable T="ScriptJobResult" Items=@ScriptJobService.JobResultList.GetResults().Values Dense="true" Hover="true" FixedHeader="true"
                  Filter="new Func<ScriptJobResult, bool>(FilterJobResultFunc)" OnRowClick=@GoToJobResultsPage Height="calc(100% - 90px - 10px)">
            <ToolBarContent>
                <MudTextField @bind-Value=@_searchString Placeholder=@($"Search {ScriptJobService.JobResultList.GetResults().Count} items...")
                              Adornment="Adornment.Start" AdornmentIcon=@Icons.Material.Filled.Search IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<ScriptJobResult, object>(x=>x.Id)">Id</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<ScriptJobResult, object>(x=>x.ScriptName)">Script</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<ScriptJobResult, object>(x=>x.DeviceName)">Device</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<ScriptJobResult, object>(x=>x.ExecutionState)">Status</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<ScriptJobResult, object>(x=>x.ExecutionTime)">Execution Time</MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTh DataLabel="Id">@context.Id</MudTh>
                <MudTh DataLabel="Script">@context.ScriptName</MudTh>
                <MudTh DataLabel="Device">@context.DeviceName</MudTh>
                <MudTh DataLabel="Status">
                    <ScriptExecutionStateChipText Result=@context />
                </MudTh>
                <MudTh DataLabel="ExecutionTime">@context.ExecutionTime</MudTh>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions=@s_pageSizeOptions />
            </PagerContent>
        </MudTable>
    </div>
</PageContainer>

@code {
    private static readonly int[] s_pageSizeOptions = { 20, 50, 100 };

    private string _searchString = "";

    protected override void OnInitialized()
    {
        foreach (ScriptJobResult result in ScriptJobService.JobResultList.GetResults().Values)
        {
            result.ExecutionResultReceived += OnExecutionResultReceived;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ScriptJobFileHelper.LoadSavedJobs(ScriptJobService.JobList);
            ScriptJobFileHelper.LoadSavedJobResults(ScriptJobService.JobResultList);
            this.StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnExecutionResultReceived(object sender, ScriptExecutionState newState)
    {
        InvokeAsync(this.StateHasChanged);
    }

    private void GoToJobResultsPage(TableRowClickEventArgs<ScriptJobResult> eventArgs)
    {
        int resultId = eventArgs.Item.Id;

        NavigationManager.NavigateTo(PageRoute.ScriptJobResultDetailsWithId(resultId));
    }

    private bool FilterJobResultFunc(ScriptJobResult result) => DoFilterJobResultFunc(result, _searchString);

    private bool DoFilterJobResultFunc(ScriptJobResult result, string searchString)
    {
        return string.IsNullOrWhiteSpace(searchString)
                    || result.Id.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase)
                    || result.ScriptName.Contains(searchString, StringComparison.OrdinalIgnoreCase)
                    || result.ExecutionState.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase);
    }

    public void Dispose()
    {
        foreach (ScriptJobResult result in ScriptJobService.JobResultList.GetResults().Values)
        {
            result.ExecutionResultReceived -= OnExecutionResultReceived;
        }
    }
}
