@page "/job-results/{Id:int}"

@implements IDisposable

@inherits ScriptJobResultBase

<PageContainer Title="PowerShell Job Results" NestedTitle=@($"Result {Result.Id}") PreviousPage="/job-results">
    <div class="script-title">
        <p>Script: @Result.ScriptName</p>
        <div class="title-chip">
            <ChipText Color=@Result.ExecutionState.GetColor() Text=@Result.ExecutionState.ToString() />
        </div>
    </div>
    <p>Execution Time: @Result.ExecutionTime</p>
    <p>Device: @Result.DeviceName</p>

    <PageSection Title="Output">
        <ScriptOutputContainer ScriptOutput=@Result.ScriptOutput @ref=OutputContainer />
    </PageSection>
</PageContainer>

@code {
    ScriptOutputContainer OutputContainer;

    protected override void OnInitialized()
    {
        // Very important to make sure ScriptJobResultBase is populated
        base.OnInitialized();

        Result.OnExecutionResultReceived += (object sender, ScriptExecutionState newState) =>
        {
            InvokeAsync(() => this.StateHasChanged());
        };
    }

    public void Dispose()
    {
        OutputContainer.Dispose();
        Result.DisposeOnExecutionResultReceivedEventSubscriptions();
    }
}
