@page "/job-results/{Id:int}"
@inherits ScriptJobDetailsBase

<PageContainer Title="PowerShell Jobs" NestedTitle="Result" PreviousPage="/jobs">
    <p>Job Id: @Job.Id</p>
    <p>Script: @Job.Script.FileName</p>
</PageContainer>

@code {

}
