@inject INavigationService NavigationService

@using ITPortal.Components

<div class="loader loader-bouncing"><span>Redirecting...</span></div>

@code {
    protected override void OnInitialized()
    {
        NavigationService.NavigateTo(PageRoute.Login);
    }
}
