<MudDialog>
    <DialogContent>
        @if (ChildContent != null)
        {
            <div>@ChildContent</div>
        }
        else
        {
            <MudText>@ContentText</MudText>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="@Color" Variant="Variant.Filled" OnClick="Submit">@SubmitButtonText</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter, EditorRequired]
    MudDialogInstance? MudDialog { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? ContentText { get; set; }

    [Parameter]
    public string SubmitButtonText { get; set; } = "Submit";

    [Parameter]
    public string CancelButtonText { get; set; } = "Cancel";

    [Parameter]
    public Color Color { get; set; }

    internal void Submit() => MudDialog?.Close(DialogResult.Ok(true));
    internal void Cancel() => MudDialog?.Cancel();
}
