@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@using ScriptProfiler.Components.Shared.Login
@using ScriptProfiler.Lib.Services.Authentication

@attribute [Route(PageRoute.Login)]
@attribute [AllowAnonymous]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="background login-background">
    <LoginBox LogoPath="images/arcurve_logo.png">
        <button class="login-btn" @onclick=@PromptLogin>
            <img src="images/microsoft_logo.png" alt="Microsoft logo">
            Sign in with Microsoft
        </button>
        <div class="login-container-bottom">
            <a href=@RepoLink>Support</a>
        </div>
    </LoginBox>
</div>

@code
{
    private const string RepoLink = "https://github.com/anilmawji/ITPortal";

    public async Task PromptLogin()
    {
        var provider = (ExternalAuthStateProvider)AuthenticationStateProvider;

        await provider.LogInAsync();

        NavigationManager.NavigateTo("/");
    }
}