<div class="container">
    @ChildContent
    @if (FileName != null)
    {
        <span class="file-label">
            @FileName
        </span>
    }
    else
    {
        <span class="file-label">
            No file selected
        </span>
    }
</div>

@code {
    [Parameter]
    public string? FileName { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;
}
