* {
    font-family: "Segoe UI", Arial, sans-serif;
    /* disable dragging/highlighting on all browsers */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    --mud-appbar-height: 50px !important;
}

html {
    height: 100%; /* fallback CSS for IE 4-6 and older browsers. note: without this setting, body below cannot achieve 100% height. */
    height: 100vh; /* overrides 100% height in modern HTML5 browsers and uses the viewport's height. only works in modern HTML5 browsers */
    scroll-behavior: smooth !important;
}

body {
    scroll-behavior: smooth !important;
    width: auto; /* allows content to grow beyond the page without overflow */
    height: auto; /* allows content to grow beyond the page without overflow */
    min-height: 100%; /* starts web page with 100% height. Fallback for IE 4-6 and older browsers */
    min-height: 100vh; /* starts web page with 100% height. Uses the viewport's height. only works in modern HTML5 browsers */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#app {
    height: 100vh;
}

::-webkit-scrollbar {
    width: 10px !important;
}

.mud-main-content {
    height: 100%;
    bottom: 0;
    overflow-y: scroll;
}

/* add shadow below appbar */
.mud-appbar .mud-toolbar {
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.3);
}

.mud-input.mud-input-filled {
    border: solid 1px #D2D2D2;
    background-color: rgba(0,0,0,.03) !important;
}

/* correct position of multiselection boxes */
.mud-table-row .mud-table-cell {
    padding-left: 20px !important;
}

/* workaround to make mudtable resize with window */
.table-container {
    height: calc(100vh - 100px - 90px);
    display: grid;
    grid-template-columns: minmax(0,1fr);
    grid-template-rows: minmax(0,1fr);
}
