.title-container {
    margin-bottom: 40px;
    display: inline-flex;
}

.main-content-container {
    margin: 30px;
}

.underlined {
    text-decoration: underline;
}

.tooltip {
    margin-top: 4px;
    margin-left: 6px;
}