<div class="container">
    <hr>
    @if (Title != null)
    {
        <h2>@Title</h2>
    }
    <div>@ChildContent</div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
