<div class="main-content-container">
    <h1 class="title-container">
        @if (NestedTitle != null)
        {
            <a class="underlined" href=@PreviousPage>@Title</a>
            <span> > @NestedTitle</span>
        }
        else
        {
            <span>
                @Title
                <MudTooltip Delay="500" Duration="300" Text="Testing testing testing 1234" Arrow="true">
                    <MudIcon Icon="@Icons.Material.Outlined.Info"></MudIcon>
                </MudTooltip>
            </span>
        }
    </h1>
    @ChildContent
</div>


@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? PreviousPage { get; set; }

    [Parameter]
    public string? NestedTitle { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;
}
