<div class="scroll output-container">
    @if (OutputList != null)
    {
        @for (int i = 0; i < OutputList.Count; i++)
        {
            ScriptOutputMessage message = OutputList.ElementAt(i);

            @if (message.StreamType == ScriptOutputStreamType.Standard)
            {
                <div class="output-message">
                    <MudText>
                        @(message.Data)
                    </MudText>
                </div>
            }
            else
            {
                <div class="output-message" style="color:@message.StreamType.GetColor()">
                    @(message.Data)
                </div>
            }
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<ScriptOutputMessage> OutputList { get; set; } = null!;
}
