.script-content {
    min-height: 200px;
    max-height: 400px;
    height: 50%;
    width: 90%;
    min-width: 200px;
    overflow-wrap: break-word;
    border-radius: 8px;
    padding: 20px;
    padding: 24px;
    border: solid 1px #D2D2D2;
    margin-bottom: 40px;
    background-color: rgba(0,0,0,.03);
    /* allow text highlighing of script contents */
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}
