.login-container {
    text-align: center;
    width: 35%;
    min-width: 300px;
    max-width: 600px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.3);
    background-color: var(--mud-palette-background);
}

.company-logo {
    max-width: 300px;
    width: 100%;
    padding: 24px;
    display: block;
    margin: 30px auto;
}
