<div class="chip">
    <div class="chip-text" style="--chip-color:@Color; --chip-background-color:@BackgroundColor">
        <span>@Text</span>
    </div>
</div>

@code {
    [Parameter]
    public string Color { get; set; } = "#747474";

    [Parameter]
    public string Text { get; set; } = string.Empty;

    public string? BackgroundColor { get; set; }

    protected override void OnInitialized()
    {
        BackgroundColor = ColorConverterExtensions.AddTransparencyToHtmlColor(Color, 20).ToHexString();
    }
}
