@if (Errors?.Count() > 0)
{
    <p>@($"Errors ({Errors.Length})")</p>
    @foreach (string error in Errors)
    {
        <p style="color: #FF0000">@error</p>
    }
}

@code {
    [Parameter]
    public string[]? Errors { get; set; } 
}
