@if (Script.IsContentLoaded())
{
    <p class="scroll script-content">
        @foreach (string line in Script.Content)
        {
            @line
            <br>
        }
    </p>
}
else if (Script.ContentFailedToLoad())
{
    <p>Script failed to load</p>
}

@code {
    [Parameter, EditorRequired]
    public AutomationScript Script { get; set; } = null!;
}
