@implements IDisposable

@if (ScriptOutput != null)
{
    @for (int i = 0; i < ScriptOutput.Get().Count; i++)
    {
        ScriptOutputMessage message = ScriptOutput.Get().ElementAt(i);

        <div style="color:@message.StreamType.GetColor()">
            @(message.Data)
        </div>
    }
}

@code {
    [Parameter, EditorRequired]
    public ScriptOutputList? ScriptOutput { get; set; }

    protected override void OnInitialized()
    {
        if (ScriptOutput != null)
        {
            ScriptOutput.OnOutputChanged += (object? sender, ScriptOutputChangedEventArgs _) =>
            {
                InvokeAsync(() => this.StateHasChanged());
            };
        }
    }

    public void Dispose()
    {
        ScriptOutput?.DisposeOnOutputChangedEventSubscriptions();
    }
}
