@implements IDisposable

@if (ScriptOutput != null)
{
    @foreach (ScriptOutputMessage message in ScriptOutput)
    {
        <div class="@message.Stream">
            @(message.Data)
        </div>
    }
}

@code {
    [Parameter, EditorRequired]
    public ScriptOutputList? ScriptOutput { get; set; }

    protected override void OnInitialized()
    {
        if (ScriptOutput != null)
        {
            ScriptOutput.OnOutputChanged += (object? sender, ScriptOutputChangedEventArgs _) =>
            {
                InvokeAsync(() => this.StateHasChanged());
            };
        }
    }

    public void Dispose()
    {
        ScriptOutput?.DisposeOnOutputChangedEventSubscriptions();
    }
}
