.appbar-logo-container {
    display: flex;
    z-index: 2;
}

.appbar-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 20px;
}

.appbar-background {
    position: absolute;
    width: calc(100% + 24px);
    height: 50px;
    background-color: #840C16;
    overflow: hidden;
    transform: translateX(-24px);
    opacity: 0.5;
}

.appbar-background div {
    background-image: url("images/geometric_backdrop.jpg");
    width: 100%;
    height: 500px;
    filter: grayscale(100%);
    mix-blend-mode: color-burn;
    transform: translateY(-30px);
    background-repeat: repeat;
    background-color: #840C16;
    background-size: contain;
}

/* Adjust background to match the mobile-sized appbar automatically resized by MudBlazor */
@media (max-width: 599px)
{
    .appbar-background {
        height: calc(var(--mud-appbar-height) - var(--mud-appbar-height)/8);
    }
}