<div class="container">
    <hr>
    @if (Title != null)
    {
        <h2>@Title</h2>
    }
    @ChildContent
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [ParameterAttribute]
    public RenderFragment ChildContent { get; set; }
}
