@using Microsoft.JSInterop
@using ITPortal.Lib.Automation.Output
@using ITPortal.Lib.Automation.Script

@implements IDisposable

@inject IJSRuntime JSRuntime

<div class="scroll" id="output-container">
    @if (_messages != null)
    {
        foreach (ScriptOutputMessage message in _messages)
        {
            <div class="output-message" style=@GetMessageStyle(message)>
                @(message.Data)
            </div>
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public ScriptOutputList OutputList { get; set; } = null!;

    [Parameter]
    public ScriptOutputStreamType? StreamType { get; set; }
}
