@using Microsoft.JSInterop

@implements IDisposable

@inject IJSRuntime JSRuntime

<div class="scroll" id="output-container">
    @for (int i = 0; i < _messages?.Count; i++)
    {
        ScriptOutputMessage message = _messages.ElementAt(i);

        <div class="output-message" style=@GetMessageStyle(message)>
            @(message.Data)
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public ScriptOutputList OutputList { get; set; } = null!;

    [Parameter]
    public ScriptOutputStreamType? StreamType { get; set; }

    private IReadOnlyList<ScriptOutputMessage>? _messages;

    protected override void OnInitialized()
    {
        _messages = StreamType != null
            ? OutputList.GetMessagesFilteredByStream((ScriptOutputStreamType)StreamType)
            : OutputList.GetMessages();

        OutputList.OutputChanged += OnOutputChanged;
    }

    private void OnOutputChanged(object? sender, ScriptOutputChangedEventArgs args)
    {
        JSRuntime.InvokeVoidAsync("scrollToBottom", "output-container");
        InvokeAsync(this.StateHasChanged);
    }

    private string GetMessageStyle(ScriptOutputMessage message)
    {
        return message != null && message.StreamType != ScriptOutputStreamType.Standard
                    ? $"color:{message.StreamType.GetColor()}"
                    : string.Empty;
    }

    public void Dispose()
    {
        OutputList.OutputChanged -= OnOutputChanged;
    }
}
