@using Microsoft.JSInterop
@using ITPortal.Lib.Automation.Output
@using ITPortal.Lib.Automation.Script

@implements IDisposable

@inject IJSRuntime JSRuntime

<div class="scroll" id="output-container">
    @for (int i = 0; i < _messages?.Count; i++)
    {
        // Must be a standard for loop to avoid modifying an iterator while looping
        ScriptOutputMessage message = _messages.ElementAt(i);

        <div class="output-message" style=@GetMessageStyle(message)>
            @(message.Data)
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public ScriptOutputList OutputList { get; set; } = null!;

    [Parameter]
    public ScriptOutputStreamType? StreamType { get; set; }
}
